.posts {
  margin-bottom: 100px;
  /* 	&__posts::before{
  		content: "";
  		display: block;
  		width: 23%;
  		order: 1;
  		@include media(tb) {
  			display: none;
  		}
  	}
  	&__posts::after{
  		content: "";
  		display: block;
  		width: 23%;
  		@include media(tb) {
  			display: none;
  		}
  	}
   */ }
  .posts__posts {
    display: flex;
    max-width: 780px;
    width: 90%;
    margin: 30px auto 0;
    justify-content: space-between;
    flex-wrap: wrap; }
  .posts__content {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center; }
    @media (max-width: 768px) {
      .posts__content {
        display: block;
        margin-bottom: 50px; } }
  .posts__thumb-link {
    width: 25%;
    margin-right: 30px;
    display: block;
    color: #555;
    text-decoration: none;
    cursor: pointer; }
    .posts__thumb-link img {
      border-radius: 2px 2px 0 0;
      width: 100%; }
  .posts a {
    text-decoration: none;
    color: #333; }
    @media (max-width: 1024px) {
      .posts a {
        font-size: 90%; } }
    @media (max-width: 768px) {
      .posts a {
        font-size: 100%; } }
    @media (max-width: 768px) {
      .posts a {
        width: 100%; } }
  .posts__cat {
    display: inline-block;
    background: #595757;
    overflow: hidden;
    position: absolute;
    top: 13px;
    left: 0;
    height: 30px;
    margin: 0;
    padding: 0 10px;
    font-size: 15px;
    font-weight: bold;
    vertical-align: middle;
    line-height: 30px;
    opacity: .9; }
    @media (max-width: 480px) {
      .posts__cat {
        font-size: 13px; } }
    .posts__cat a {
      color: #fff; }
  .posts__entry-title {
    font-size: 20px; }
    @media (max-width: 768px) {
      .posts__entry-title {
        font-size: 18px; } }
  .posts__content {
    margin-bottom: 30px; }
  .posts__title {
    width: 70%; }
    @media (max-width: 768px) {
      .posts__title {
        width: 100%; } }
  .posts h1 {
    color: #e55608;
    text-align: center;
    font-size: 30px; }

.archive-radio .posts__posts {
  display: flex;
  max-width: 780px;
  width: 90%;
  margin: 30px auto 0;
  justify-content: space-between;
  flex-wrap: wrap; }
.archive-radio .posts__content {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center; }
  @media (max-width: 768px) {
    .archive-radio .posts__content {
      display: block;
      margin-bottom: 50px; } }
.archive-radio .posts__thumb-link {
  width: 25%;
  margin-right: 30px;
  display: block;
  color: #555;
  text-decoration: none;
  cursor: pointer; }
  .archive-radio .posts__thumb-link img {
    border-radius: 2px 2px 0 0;
    width: 100%; }
.archive-radio .posts a {
  text-decoration: none;
  color: #333; }
  @media (max-width: 1024px) {
    .archive-radio .posts a {
      font-size: 90%; } }
  @media (max-width: 768px) {
    .archive-radio .posts a {
      font-size: 100%; } }
  @media (max-width: 768px) {
    .archive-radio .posts a {
      width: 100%; } }
.archive-radio .posts__cat {
  display: inline-block;
  background: #595757;
  overflow: hidden;
  position: absolute;
  top: 13px;
  left: 0;
  height: 30px;
  margin: 0;
  padding: 0 10px;
  font-size: 15px;
  font-weight: bold;
  vertical-align: middle;
  line-height: 30px;
  opacity: .9; }
  @media (max-width: 480px) {
    .archive-radio .posts__cat {
      font-size: 13px; } }
  .archive-radio .posts__cat a {
    color: #fff; }
.archive-radio .posts__entry-title {
  font-size: 20px; }
  @media (max-width: 768px) {
    .archive-radio .posts__entry-title {
      font-size: 18px; } }
.archive-radio .posts__posts {
  max-width: 900px; }
.archive-radio .posts__date {
  background: #4d4d4d;
  padding: 4px 10px;
  color: #fff; }
  .archive-radio .posts__date.-morning {
    background: #e55608; }
  .archive-radio .posts__date.-evening {
    background: #595757; }
.archive-radio .posts__thumb-link {
  flex-basis: 250px;
  flex-shrink: 0; }
  @media (max-width: 768px) {
    .archive-radio .posts__thumb-link {
      width: 100%; } }
.archive-radio .posts__right {
  flex-grow: 1; }
.archive-radio .posts__entry-title {
  margin: 8px 0 0 0; }

/*# sourceMappingURL=style.css.map */
